// <МИКСИНЫ>===============================================================================================
// миксин - комплект свойств, для быстрого вызова(подробнее mixins.scss)
@import "mixins.scss";
// </МИКСИНЫ>===============================================================================================

// <ШРИФТЫ>===============================================================================================
// <Подключаем шрифты>=======================================================================================

// &display=swap; // * порядок загрузки шрифтов - улучшает скорость загрузки. Добавить в конец пути загрузки шрифта
// &subset=curillic-ext // * для кириллицы. Так же в путь загрки, в плотную со swap.
// @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

// подкл шрифты гугл, гуглфондс, напрямую
// </Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

// <ШРИФТ ПО УМОЛЧАНИЮ>==========================================================================================
// переменая шрифта по умолчанию (можно несколько сразу завести)
$fontfamily: "";
// </ШРИФТ ПО УМОЛЧАНИЮ>==========================================================================================

// </ШРИФТЫ>=======================================================================================================

// <ПЕРЕМЕННЫЕ>===========================================================================================================
// сетка адаптива
// минимальная ширина. статична
$minwidth: 320px;
// начальное значение контейниера из PSD. чаще всего использ дизайнерами
$mw: 1170;
// 1-ый брейкпоинт + 12px (по 6 с каждой стороны). измен по усмотрению
$md1: $mw + 12;
// планшетное расширение
$md2: 991.98;
// телефоны
$md3: 767.98;
// маленькие телефоны
$md4: 479.98;
// </ПЕРЕМЕННЫЕ>===========================================================================================================

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
// обнуляющий стиль для стандартизации по всем свойствам, брайзерам и пр.
@import "null.scss";
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
// настройка блока .wrapper от горизонтального скрола изза ошибок верстки (чтоб не вылазилило за пределы экрана)
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  &.loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
// основная сетка. подстройка под расширение экрана с учётом переменных из сетки адаптива
// mw - изначальная ширина контейниера
.container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  // уже есть три настроеных брейкпоинта
  // при ширине экрана md1(1170 + 12), макс ширина контейнера станет 970px. в 1182 ширина становится 970
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
// @import "datepicker.scss";
// @import "fontawesome.scss";
// @import "popover.min.scss";
// галерея
@import "baguetteBox.scss";
// @import "pagging.scss";
// @import "icons.scss";
// всплыв окна
@import "popup.scss";
// шапка
@import "header.scss";
// подвал
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// элем форм, checkbox, select, кнопки
@import "forms.scss";
// сбор готовых и вспомогательных классов (ibg, video, заголовки, зеркало, серый стиль)
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
